* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	background-image: linear-gradient(to right, red 0%, orange 50%, yellow 100%);
	font-family: system-ui,sans-serif;
	font-size: 10px;
	display: grid;
	place-items: center;
}

img {
	max-width: 100%;
}

/* index */

.card-list {
	max-width: 80%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;

}

.card {
	background-color: #ececec;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 5px 1px rgba(0 0 0 / .4);
}

.card img {
	border-radius: 5px;
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.card .nome {
	font-size: 1rem;
	text-transform: uppercase;
	color: #c98811;
	border-bottom: 2px solid #c98811;
}

.card .descricao {
	font-size: 1rem;
	font-weight: 300;
}

.card .valor {
	font-size: 1.2rem;
	font-weight: 900;
	color: #03aa03;
}

.card .botoes {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: .25rem;
}

.botoes :is(button, a) {
	border: 2px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	font-size: .8rem;
}

.botoes .comprar {
	background-color: #e49b15;
	border-color: #c98811;
}

.botoes .adicionar {
	text-align: center;
	color: inherit;
	display: block;
	text-decoration: none;
	background-color: #dcdcdc;
	border-color: #acacac;
}

/* carrinho */

.carrinho {
	background-color: #ececec;
	padding: 2rem;
	border-radius: 5px;
	box-shadow: 0 0 5px 1px rgba(0 0 0 / .4);
}

h2 {
	font-size: 1.9rem;
}

table, th, td {
	border: 1px solid #acacac;
	border-collapse: collapse;
}

th, td {
	font-size: 1.2rem;
}

td, th {
	padding: .5rem;
}

th {
	text-align: left;
}

td img {
	width: 100px;
	height: 75px;
	object-fit: cover;
	vertical-align: middle;
}

.botoes.alternativo {
	width: 100%;
	display: grid;
	justify-items: right;
}

button.maior {
	padding: 1rem;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 1rem;
}